*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav{
    border: 2px solid ;
    height: 520px;
    position: absolute;
    width: 100%;
    margin: auto;
    /* background-image: url(../img/img2.webp);     */
     background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6),rgba(0,0,0,0.5)) , url(../img/img2.webp)
}
#sub-nav {
    /* border: 2px solid red ; */
    height: 40px;
    width: 92%;
    margin: auto;

}
#sub-nav ol{
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-between

}
#sub-nav ol li svg{
    height: 2em;
    position: absolute;
    top: 10px;
    left: 30px;
    color: #ffff;
}
#sub-nav ol li+li{
   word-spacing: 10px;
   position: absolute;
   left: 74%;
   top: 15px;
}
#btn1{
    cursor: pointer;
    border-radius: 50px;
    height: 30px;
    width: 60px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    background: none;
    outline: none;
    color: #ffff;
    


}
#btn2{
    cursor: pointer;
    border-radius: 50px;
    height: 30px;
    width: 60px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    background: none;
    outline: none;
    color: #ffff;

}
#btn3{
    cursor: pointer;
    border-radius: 50px;
    height: 40px;
    width: 70px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    background-color:none;
    
    
    
    /* color: #ffff; */

}
#btn4{
    cursor: pointer;
    border-radius: 50px;
    height: 40px;
    width: 95px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color:#ffff;
    background-color: green;

}
#nav h1{
    position: absolute;
    color: #ffff;
    font-size: 40px;
    font-weight: 1000;
    top: 29%;
    left: 25%;
  
}
#ol1 li{
    list-style: none;
    position: absolute;
    top: 42%;
    left: 25%;
    word-spacing: 10px;
}
#ol li button{
    border-radius: 50px;
}


/* order list 1 */
#bttn1{
    cursor: pointer;
    border-radius: 50px;
    border-color: none;
    height: 40px;
    width: 83px;
    /* background-color:rgba(255, 255, 255, .24); */
    font-weight: 700;
    
}
#bttn2{
    cursor: pointer;
    border-radius: 50px;
    border-color: none;
    height: 40px;
    width: 73px;
    background-color: #ffff;
    font-weight: 700;
    /* color: #ffff; */
}
#bttn3{
    cursor: pointer;
    border-radius: 50px;
    border-color: none;
    height: 40px;
    width: 89px;
    background-color: #ffff;
    font-weight: 700;
}
#bttn4{
    cursor: pointer;
    border-radius: 50px;
    border-color: none;
    height: 40px;
    width: 83px;
    background-color: #ffff;
    font-weight: 700;
}

#bttn6{
    cursor: pointer;
    border-radius: 50px;
    border-color: none;
    height: 40px;
    width: 83px;
    background-color: #ffff;
    font-weight: 700;
}
#bttn7{
    cursor: pointer;
    border-radius: 50px;
    border-color: none;
    height: 40px;
    width: 80px;
    background-color: #ffff;
    font-weight: 700;
}
#bttn8{
    cursor: pointer;
    border-radius: 50px;
    border-color: none;
    height: 40px;
    width: 110px;
    background-color: #ffff;
    font-weight: 700;
}
#bttn9{
    cursor: pointer;
    border-radius: 50px;
    border-color: none;
    height: 40px;
    width: 83px;
    background-color: #ffff;
    font-weight: 700;
}
#bttn10{
    cursor: pointer;
    border-radius: 50px;
    border-color: none;
    height: 40px;
    width: 65px;
    background-color: #ffff;
    font-weight: 700;
}



/* search bar */
#search input{
    position: absolute;
    top: 53%;
    left: 22%;
    border-radius: 50px;
    height: 55px;
    width: 62%;
    font-size: 16px;
}


/* order list 2 */

#ol2{
    list-style: none;
    position: absolute;
    left: 23%;
    top: 70%;
    word-spacing:10px;
    
}
#but1{
    cursor: pointer;
    height: 28px;
    width: 56px;
    border-radius: 8px;
     font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
#but2{
    cursor: pointer;
     height: 28px;
    width: 45px;
    border-radius: 8px;
     font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
#but3{
    cursor: pointer;
     height: 28px;
    width: 45px;
    border-radius: 8px;
     font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
#but4{
    cursor: pointer;
     height: 28px;
    width: 55px;
    border-radius: 8px;
     font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
#but5{
    cursor: pointer;
     height: 28px;
    width: 79px;
    border-radius: 8px;
     font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
#but6{
    cursor: pointer;
     height: 28px;
    width: 140px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    
}
#but7{
    cursor: pointer;
     height: 28px;
    width: 53px;
    border-radius: 8px;
     font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
#but8{
    cursor: pointer;
     height: 28px;
    width: 59px;
    border-radius: 8px;
     font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
#but9{
    cursor: pointer;
     height: 28px;
    width: 39px;
    border-radius: 8px;
     font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
#but10{
    cursor: pointer;
     height: 28px;
    width: 58px;
    border-radius: 8px;
     font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
#but11{
    cursor: pointer;
     height: 28px;
    width: 58px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#but12{
    cursor: pointer;
     height: 28px;
    width: 48px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
}

#p{
    position: absolute;
    top: 93%;
    left: 2%;
    color: #ffff;
    font-size: 14px;
}
#a{
    color: #ffff;
}
#p1{
    position: absolute;
    top: 93%;
    right: 2%;
    color: #ffff;
    font-size: 14px;
}
#a1{
    color: #ffff;
}
#div1 p{
    position: absolute;
    top: 75%;
    left: 2%;
    font-size: 18px;
    font-weight: 600;
    
}
 #button1{
    position: absolute;
    top: 75%;
    left: 77%;
    border-radius: 20px;
    height: 30px;
    width: 130px;
}
#button2{
    position: absolute;
    top: 75%;
    left: 86%;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}
#button3{
    position: absolute;
    top: 75%;
    left: 93%;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}



/* photos */



#parent{
    /* border: 5px solid; */
    height: 240vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    
    
    /* grid-template-areas: "navbar navbar navbar navbar"
                         "left-aside center  center right-aside"
                         "left-aside center center right-aside"
                         "footer footer footer footer"; */

}
#item1,#item2,#item3,#item4,#item5,#item6,#item7,#item8,#item9,#item10{
    border: 2px solid;
  
}
#item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 9;
    /* grid-area: navbar; */
    background-color: red;
    text-align: center;
    font-size: 40px;
    background-image: url(../img/img3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
#item2{
    grid-row-start: 9;
    grid-row-end: 11;
    /* grid-area: left-aside; */
    background-color: green;
    text-align: center;
    font-size: 40px;
    background-image: url(../img/im4.webp);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}
#item3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
    
     background-color:blue;
    text-align: center;
    font-size: 40px;
    background-image: url(../img/img5.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
#item4{
     grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 10;
    /* grid-area: right-aside; */
      background-color:yellow;
    text-align: center;
    font-size: 40px;
    background-image: url(../img/img6.webp);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}
#item5{
    grid-row-start: 10;
    grid-row-end: 13;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color:skyblue;
    text-align: center;
    font-size: 40px;
    background-image: url(../img/img7.webp);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#item6{
    grid-row-start: 9;
    grid-row-end: 13;
    background-color: red;
    text-align: center;
    font-size: 40px;
    background-image: url(../img/img8.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#item7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 13;
    background-color: red;
    text-align: center;
    font-size: 40px;
    background-image: url(../img/img9.webp);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#item8{
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 6;
    grid-row-end: 8;
    background-color:yellowgreen;
    text-align: center;
    font-size: 40px;
    background-image: url(../img/img10.webp);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
#item9{
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 8;
    grid-row-end: 10;
    background-color:yellowgreen;
    text-align: center;
    font-size: 40px;
    background-image: url(../img/img12.webp);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
#item10{
    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 10;
    grid-row-end: 13;
    background-color:yellowgreen;
    text-align: center;
    font-size: 40px;
    background-image: url(../img/img5.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}